<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <form name="dForm" role="form" ng-controller="EmpresaSaveCtrl"> 
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="media/img/Comercios.jpg" />
                        </md-card-avatar>
                        <md-card-header-text>
                           
                            <span class="md-headline">Registro</span>
                            <span class="md-subhead">Registro Empresas</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout-gt-sm="row">
                             <div layout-gt-sm="column" flex="60">

                                <div layout-gt-sm="row">
                                <md-input-container class="md-block" md-no-float flex="45" >
                              
                                <input placeholder="nombre de empresa" name= "nombre" ng-model="empresa.nombre" required>
                                <div ng-messages="dForm.nombre.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <md-input-container class="md-block" md-no-float flex="45" >
                              
                                <input placeholder="direccion de empresa" name= "direccion" ng-model="empresa.direccion" required>
                                <div ng-messages="dForm.direccion.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            </div>


                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" md-no-float flex="45" >
                              
                                <input placeholder="pagina_web de empresa" name= "pagina_web" ng-model="empresa.pagina_web" required>
                                <div ng-messages="dForm.pagina_web.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <md-input-container class="md-block" md-no-float flex="45" >
                              
                                <input placeholder="razon_social de empresa" name= "razon_social" ng-model="empresa.razon_social" required>
                                <div ng-messages="dForm.razon_social.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            </div>


                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" md-no-float flex="45" >
                              
                                <input placeholder="ruc de empresa" name= "ruc" ng-model="empresa.ruc" required>
                                <div ng-messages="dForm.ruc.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <md-input-container class="md-block" md-no-float flex="45" >
                              
                                <input placeholder="telefono de " name= "telefono" ng-model="empresa.telefono" required>
                                <div ng-messages="dForm.telefono.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>

                            
                            </div>



                                </div>


                            <div layout-gt-sm="column" flex="40">
                                <img class="md-user-avatar" src="media/img/empesa.jpg" />
                            
                             </div>
                        </div>
                        

                        


                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="toggle">
                                <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">Cancelar</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="empresa.id == null">Crear</span>
                            <span ng-show="empresa.id">Actualizar</span>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </md-content>
</div>
