<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <form name="dForm" role="form" ng-controller="AgroindustriaSaveCtrl"> 
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="media/img/1211810014.png" />
                        </md-card-avatar>
                        <md-card-header-text>
                           
                            <span class="md-headline">Registro</span>
                            <span class="md-subhead">Registro Agroindustrias</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout-gt-sm="row">
                             <div layout-gt-sm="column" flex="60">

                                <div layout-gt-sm="row">
                                <md-input-container class="md-block" md-no-float flex="45" >
                              
                                <input placeholder="capacidad_produccion de agroindustria" name= "capacidad_produccion" ng-model="agroindustria.capacidad_produccion" required>
                                <div ng-messages="dForm.capacidad_produccion.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <md-input-container class="md-block" md-no-float flex="45" >
                              
                                <input placeholder="tipo de agroindustria" name= "tipo" ng-model="agroindustria.tipo" required>
                                <div ng-messages="dForm.tipo.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            </div>

                                </div>


                            <div layout-gt-sm="column" flex="40">
                                <img class="md-user-avatar" src="media/img/logo1.jpg" />
                            
                             </div>
                        </div>
                        

                        


                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="toggle">
                                <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">Cancelar</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="agroindustria.id == null">Crear</span>
                            <span ng-show="agroindustria.id">Actualizar</span>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </md-content>
</div>
